.aside-menu{
    /* min-width: 20vw; */
    display: none;
    padding: 10px;
    width: 100%;
    background-color: #AFB2B0;
    transform: translate(-100%);
    transition: .6s;
    position: relative;
}

.aside-menu__nav-wrapper {
    position: sticky;
    top: 80px;
}

.aside-menu__title {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

.aside-menu__link {
    text-decoration: none;
    margin-top: 10px;
    padding: 3px;
    display: block;
    background-color: #898C8A;
    color: white;
    text-align: center;
    cursor: pointer;
}


.aside-menu__link:hover {
    background-color: #646564;
}

.aside-menu__burger {
    border: 1px solid black;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: white;
    position: fixed;
    right: 5%;
    bottom: 5%;
    font-size: 20px;
    background-color: white;
    z-index: 100;
}


@media (min-width: 700px) {
	.aside-menu{
        max-width: 20vw;
        transform: translate(0%);
        display: block;
    }
    .aside-menu__burger {
        display: none;
    }
}