.aside-menu{
    /* min-width: 20vw; */
    display: none;
    padding: 10px;
    width: 100%;
    background-color: red;
    transform: translate(-100%);
    transition: .6s;
    position: relative;
}

.aside-menu__nav-wrapper {
    position: sticky;
    top: 80px;
}

.aside-menu__title {
    margin-top: 20px;
}

.aside-menu__link {
    margin-top: 10px;
    padding: 3px 5px;
    color: green;
    text-align: center;
    background-color: blue;
    cursor: pointer;
}


.aside-menu__link:hover {
    background-color: yellow;
}

.aside-menu__burger {
    border: 0px;
    background-color: white;
    position: fixed;
    right: 5%;
    bottom: 5%;
    font-size: 30px;
    color: red;
    z-index: 100;
}


@media (min-width: 700px) {
	.aside-menu{
        max-width: 20vw;
        transform: translate(0%);
        display: block;
    }
    .aside-menu__burger {
        display: none;
    }
}