.aside-menu{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    margin-top: 100px;
    padding: 10px;
    background-color: #AFB2B0;
    transform: translate3d(-100vw, 0, 0);
    transition: 0.3s;
    z-index: 200;
    /* overflow-x: hidden; */
}
.aside-menu-hide{
    transform: translate3d(-100vw, -100px, 0);
}
.aside-menu-big{
    transform: translate3d(0vw, -100px, 0);
    /* overflow: auto; */
}

.aside-menu__title {
    margin-top: 20px;
    padding: 8px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #4E4E4E;
    color: white;
    border-radius: 30px;
}


.aside-menu__link {
    width: 80%; 
    text-decoration: none;
    margin: 10px auto;
    padding: 3px;
    display: block;
    background-color: #9A9A9A;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
    list-style: none;
}

.aside-menu__link:hover {
    background-color: #646564;
}

.aside-menu__user-nav {
    list-style: none;
}

.user-nav-hide {
    display: none;
}
.admin-nav-hide {
    display: none;
}

.aside-menu__admin-nav {
    list-style: none;
}

.aside-menu__offer-list{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    margin-top: 100px;
    padding: 10px;
    background-color: #AFB2B0;
    transform: translate3d(-100vw, 0, 0);
    transition: 0.3s;
    z-index: 300;
}

.hide{
    transform: translate3d(-100vw, -100px, 0);
    display: none;
}
.show{
    transform: translate3d(0vw, -100px, 0);
    /* overflow: hidden; */
}

.aside-menu__burger-button {
    border: 0px;
    background-color: transparent;
    color: white;
    font-size: 25px;
    position: absolute;
    left: 30px;
    top: 33px;
}

@media (min-width: 768px){
    .aside-menu{
        position: fixed;
        display: none;
        top: 100px;
        min-height: 100vh;
        margin-top: 100px;
        transform: translate3d(0, 0, 0);
        width: 40vw;
        transition: 0.3s;
        z-index: 0;
    }
    .aside-menu-hide{
        transform: translate3d(-100vw, -100px, 0);
    }
    .aside-menu-big{
        transform: translate3d(0vw, -100px, 0);
        display: block;
    }
    .aside-menu__offer-list{
        position: absolute;
        top: 0;
        width: 40vw;
        display: none;
        top: 0;
        min-height: 100vh;
        margin-top: 100px;
        transform: translate3d(0, 0, 0);
        transition: 0.3s;
        z-index: 100;
    }
    .hide{
        transform: translate3d(-100vw, -100px, 0);
        display: none;
    }
    .show{
        transform: translate3d(0vw, -100px, 0);
        display: block;
    }
}

@media (min-width: 992px) {
    .aside-menu{
        top: 60px;
    }
}

/* @media (min-width: 1200px) {
	.aside-menu{
        max-width: 20vw;
        transform: translate(0%);
        display: block;
        top: -40px;
    }
    .aside-menu__offer-list{
        width: 20vw;
    }
    .aside-menu__burger-button{
        display: none;
    }
} */

@media (min-width: 1200px) {
    .aside-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        width: 100vw;
        height: 50px;
        min-height: 50px;
        margin-top: 70px;
        padding: 0px;
        background-color: #AFB2B0;
        transform: translate3d(0, 0, 0);
        transition: 0.3s;
        z-index: 200;
        /* overflow-x: hidden; */
    }
    /* .aside-menu-hide{
        transform: translate3d(0, 0, 0);
    }
    .aside-menu-big{
        transform: translate3d(0, 0, 0);
    } */

    .aside-menu__nav-wrapper{
        display: flex;
        /* width: 90%;
        margin: 0 auto; */
    }

    .aside-menu__offer-list{
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 20vh;
        left: 0;
        top: 0;
        width: 15vw;
        margin-top: 70px;
        padding: 10px 0;
        background-color: transparent;
        transform: translate3d(0, 0, 0);
        transition: 0.3s;
        z-index: -1;

        /* display: none; */
    }

    .hide{
        transform: translate3d(0, -100px, 0);
        display: none;
        /* z-index: -1; */
    }
    .show{
        transform: translate3d(0, -70px, 0);
        /* overflow: hidden; */
        display: block;
    }
    
    .aside-menu__title {
        display: none;
    }
    
    .aside-menu__link {
        height: 30px;
        width: 15vw; 
        text-decoration: none;
        margin: 10px auto;
        padding: 3px;
        display: block;
        background-color: #9A9A9A;
        color: white;
        text-align: center;
        cursor: pointer;
        border-radius: 30px;
        margin-right: 15px;
    }
    
    .aside-menu__link:hover {
        background-color: #646564;
    }
    
    .aside-menu__burger-button {
        display: none;
    }
}
