.dresses {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.dresses__title {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin: 20px 0;
}

.dresses__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    list-style: none;
}