.content {
    flex-grow: 1;
    margin: 10px auto;
    padding: 10px;
    max-width: 1366px;
    min-height: calc(100vh - 120px);
}

/* .none{
    display: block;
} */


@media (max-width: 767px){
    .none{
        display: none;
    }
}

@media (min-width: 768px) {
    .none {
        margin: 0 0 0 auto;
        display: block;
        max-width: 60vw;
    }
}
