.item { 
    list-style: none;
}

.item-card {
    position: relative;
    list-style: none;
    margin-bottom: 15px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
    /* background-color: #C0C0C0; */
    /* border-radius: 5px; */
}

.item-card__image {
    /* width: 100%;
    height: auto; */
    height: 120px;
    /* width: 120px; */
    margin: 0 auto;
}


.item-card__title {
    margin-top: 20px;
}


.item-card__authors{
    margin: 20px 0 0 15px;
}

.item-card__price{
   font-weight: bold;
    margin: 20px 0 10px 0;
}

.item-card__price-number {
    font-weight: bold;
}
.item-card__rate{
    font-weight: bold;
}

.item-card__button {
    position: absolute;
    right: 5%;
    bottom: 5%;
    background-color: white;
    height: 50px;
    width: 50px;
    border: 0px solid black;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: green;
}