.checkout {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    min-height: 100%;
    width: 100%;
    background-color: white;
}

.checkout__logo-panel {
    display: flex;
    border-bottom: 2px solid grey;
    margin: 10px;
}

.checkout__logo-title {
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-left: 10px;
}