.shopping-cart__upper-panel-wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin: 10px;
    border-bottom: 3px solid black; 
}

.shopping-cart {
    display: flex;
    flex-direction: column;
}

.shopping-cart__title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}

.shopping-cart__button {
    padding: 3px;
    font-size: 12px;
    background-color: honeydew;
    border: 0px;
}

.shopping-cart__title-span {
    color: grey;
}

.shopping-cart__element {
    display: flex;
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid grey;
}

.shopping-cart__element-title {
    flex-grow: 1;
    padding: 10px;
}

.shopping-cart__image {
    height: 50px;
    width: 50px;
    object-fit: scale-down;
}

.shopping-cart__element-wrap {
    display: flex;
    flex-basis: 30%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shopping-cart__element-select{
    flex-basis: 20%;
}
.shopping-cart__element-button{
    flex-basis: 50%;
}
.shopping-cart__price {
    flex-basis: 100%;
    text-align: center;
    padding-top: 20px;
}

.shopping-cart__payment-panel {
    margin: 5px -20px;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-weight: bold;
    background-color: #DADADA;
}

.shopping-cart__payment-panel__button{
    margin: 20px 0;
    padding: 6px;
    border: 0px;
    border-radius: 10px;
    flex-basis: 70%;
    background-color: #90EE90;
}
.shopping-cart__payment-panel__button a {
    display: block;
    text-decoration: none;
}