.home-wrap {
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
}

.home-hit{
    flex-grow: 1;
    border: 2px solid lightgray;
    border-radius: 15px;
    margin-top: 10px;
}

.home-hit__header {
    text-align: center;
    padding-top: 10px;
}

.home-hit__title {
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    padding: 5px;
    background-color: lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.home-hit__timer {
    color: red;
}

.banner { 
    list-style: none;
    border: 3px solid black;
    border-radius: 15px;
    background-color: white;
    padding: 1px;
}

.banner__element {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.banner__title {
    font-weight: bold;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    background-color: #F0FFF0;
    margin-bottom: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.banner__img{
    height: 60px;
    margin: 0 auto;
}

.banner__info {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.banner__price {
    font-weight: bold;
    color: green;
}

.banner__button {
    background-color: grey;
    border: 0px;
    border-radius: 15px;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
