.home-wrap {
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
}

.home__categories{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.home__categories-element {
    flex-basis: 30%;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}

.home-hit{
    flex-grow: 1;
    border: 2px solid lightgray;
    border-radius: 15px;
    margin-bottom: 5px;
}

.home-hit__header {
    text-align: center;
    padding-top: 10px;
}

.home-hit__title {
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    padding: 5px;
    background-color: lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.home-hit__timer {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.home-hit__text {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.banner { 
    list-style: none;
    border: 3px solid black;
    border-radius: 15px;
    background-color: white;
    padding: 1px;
}

.banner__element {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.banner__title {
    font-weight: bold;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    background-color: #F0FFF0;
    margin-bottom: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.banner__img{
    height: 60px;
    margin: 0 auto;
}

.banner__info {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.banner__price {
    font-weight: bold;
    color: green;
}

.banner__button {
    background-color: grey;
    border: 0px;
    border-radius: 15px;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.banner__element-arrow-left{
    position: absolute;
    top: calc(50% - 30px);
    left: 10px;
   height: 30px;
   width: 30px;
   font-size: 30px;
   cursor: pointer;
}

.banner__element-arrow-right{
    position: absolute;
    top: calc(50% - 30px);
    right: 10px;
   height: 30px;
   width: 30px;
   font-size: 30px;
   text-align: right;
   cursor: pointer;
}


@media (min-width: 576px) {
    
}

@media (min-width: 768px){
    .home-hit{
        flex-grow: 0;
    }
}