.banner__button {
    background-color: grey;
    border: 0px;
    padding: 5px;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.banner__title {
    padding: 10px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: bold;
    background-color: #BCBCBC;
    margin: 10px 0 10px -60px;
    border-radius: 15px;
}

.item-banner {
    border: 3px solid black;
    background-color: white;

}

.item-card-border {
    border: 0px;
    margin: 0px;
    padding: 5px;
}

.banner__items{
    position: absolute;
    bottom: 2%;
    left: 10%;
    right: 10%;
}

.banner__img{
    height: 60px;
}

.homeElement{
    font-weight: bold;
    font-size: 16px;
}
.homeElement:nth-child(1){
    color: red;
    margin-left: -10px;
    padding: 10px;
}
.homeElement:nth-child(2){
    color: green;
    padding: 10px 0 10px 60px;
    font-size: 16px;
    
}
.homeElement:nth-child(3){
    color: #407F51;
    font-size: 33px;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
}
.homeElement:nth-child(4){
    width: 50%;
    padding-top: 15px;
    margin: 0 0 0 auto;
    text-align: right;
}
.homeElement:nth-child(5){
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 25px;
}
.home {
    position: relative;
}

.home-bgContanier {
    background-image: url('../../images/bg.jpg');
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    background-image: url('../../images/bg.jpg');
    opacity: 0.1;
    z-index: -1;
}