.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    border-bottom: 2px solid grey;
    background-color: #DADADA;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    z-index: 10;
}

.header__title{
    margin-left: 20px;
    align-self: center;
    flex-grow: 1;
}

.header__logo-wrapper{
    width: 60px;
    height: 60px;
    /* background-color: red; */
}

.header__button {
    background-color: #A3ACB7;
    border: 0px;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 10px;
}

.fa-shopping-cart {
    color: #414141;
}

