.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    z-index: 10;
    background-color: white;
}

.header__mainPanel {
    display: flex;
    background-color: white;
    z-index: 10;
}

.header__logo-wrapper{
    height: 50px;
}

.header__button-wrap {
    flex-basis: 20%;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    text-align: center;
}

.header__button {
    height: 19px;
    background-color: white;
    border: 0px;
    font-size: 17px;
    position: relative;
}

.header__button-number {
    position: absolute;
    top: 0;
    right: -10px;
    font-size:10px;
    height: 15px;
    width: 15px;
    background-color: lightblue;
    border-radius: 50%;
    line-height: 15px;
    text-align: center;
    color: white;
}

.header__button-text {
    font-size: 10px;
    font-weight: bold;
    padding-top: 2px;
}

.header__title {
    flex-grow: 1;
}

.header__searchPanel {
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid grey;
}

.header__searchPanel-menu-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    text-align: center;
}

.header__searchPanel__button {
    border: 0px;
    font-size: 20px;
    background-color: white;
}

.header__searchPanel__text {
    font-size: 10px;
    font-weight: bold;
}

.header__form {
    margin-left: 20px;
    border: 1px solid lightgray;
    border-radius: 15px;
    width: 70%;
}

.header__input-wrap{
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.header__input {
    padding: 5px;
    padding-left: 10px;
    border-radius: 15px;
    border:0px;
}
.header__input:focus{
    outline: none;
}

.header__search-button{
    margin-left: 10px;
    background-color: white;
    border: 1px solid grey;
    padding: 3px;
    border-radius: 10px ;
}

@media (min-width: 700px) {
	.header__searchPanel-menu-wrap{
        display: none;
    }
}