.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid grey;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    z-index: 10;
    background-color: white;
}

.header__mainPanel {
    display: flex;

    flex-wrap: wrap;
    height: 100px;

    justify-content: space-around;
    align-items: center;
    background-color: white;
    z-index: 10;
    width: 100%;
}

.header__logo-div{
    height: 50px;
    flex-basis: 30%;
    /* flex-basis: 20%; */
}

.header__buttons-panel{
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
}

.header__button-wrap {
    flex-basis: 25%;
    height: 100%;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.header__button {
    height: 19px;
    background-color: white;
    border: 0px;
    font-size: 17px;
    position: relative;
}

.header__button-number {
    position: absolute;
    top: 0;
    right: -10px;
    font-size:10px;
    height: 15px;
    width: 15px;
    background-color: lightblue;
    border-radius: 50%;
    line-height: 15px;
    text-align: center;
    color: white;
}

.header__button-text {
    font-size: 10px;
    font-weight: bold;
    padding-top: 2px;
}

.header__searchPanel-menu-wrap{
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header__searchPanel__button {
    border: 0px;
    font-size: 20px;
    background-color: white;
}

.header__searchPanel__text {
    font-size: 10px;
    font-weight: bold;
}

.header__form {
    flex-basis: 80%;
    margin-left: 20px;
    border: 1px solid lightgray;
    border-radius: 15px;
}

.header__input-wrap{
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.header__input {
    padding: 5px;
    padding-left: 10px;
    border-radius: 15px;
    border:0px;
    width: 100%;
}
.header__input:focus{
    outline: none;
}

.header__search-button{
    margin-left: 10px;
    width: 10%;
    background-color: white;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 10px ;
    display: none;
}

.bigScreen{
    display: none;
}

@media (min-width: 321px){
    .header__buttons-panel{
        flex-basis: 60%;
    }
}

@media(min-width: 480px) {
    .header__logo-div{
        flex-basis: 20%;
    }
    .header__buttons-panel{
        flex-basis: 75%;
    }
    .header__button-wrap{
        flex-basis: 12%;
    }
    .header__searchPanel-menu-wrap{
        flex-basis: 10%;
    }
    .header__form{
        flex-basis: 85%;
    }
}

@media(min-width: 768px) { 
    .header__button{
        font-size: 25px;
    }
    .header__button-text {
        padding-top: 10px;
    }
    .header__searchPanel-menu-wrap{
        margin-bottom: 5px;
    }
    .header__form{
        margin-bottom: 5px;
    }
}

@media(min-width: 992px){
    .header {
        height: 70px;
    }
    .header__searchPanel-menu-wrap{
        display: none;
    }
    .header__form{
        display: none;
    }
    .bigScreen{
        display: block;
    }

    .header__searchPanel-menu-wrap{
        flex-basis: 8%;
    }
    .header__logo-div{
        flex-basis: 20%;
    }
    .header__form{
        flex-basis: 45%;
    }
    .header__buttons-panel{
        flex-basis: 30%;
    }
    .header__button-wrap{
        flex-basis: 25%;
    }

}

@media (min-width: 1200px) {
    .header__searchPanel-menu-wrap{
        display: none;
    }
    .header__search-button{
        display: block;
    }
    .header{
        margin: 0 auto;
        align-items: center;
    }

    .header__mainPanel { 
        max-width: 1600px;
        height: 70px;
    }

    .header__form{
        flex-basis: 45%;
    }
    .header__buttons-panel{
        flex-basis: 20%;
    }
    .header__button-wrap{
        flex-basis: 25%;
    }
}