.searchPanelWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchForm__info{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.searchForm__input{
    padding: 5px;
    width: 80%;
}

.searchForm__button{
    padding: 6px;
    background-color: #B4B4B4;
    border: 0px solid white;
    border-radius: 10px;
}