.item-popup {
    display: flex;
    flex-direction: column;
}

.item-popup__form {
    display: flex;
    flex-direction: column;
}

.item-popup__form-row {
    display: flex;
}

.item-popup__input {
    display: flex;
    flex-grow: 1;
}